@font-face {
  font-family: customFont;
  src: url(Raven.otf);
}

.App {
  margin: 0;
  font-family: customFont;
  box-sizing: border-box;
  justify-content: center;
  display: flex;
}

.background {
  background-position-x: left;
  background-repeat: no-repeat;
  background-image: url(bgScaled.png);
  border-radius: 10px;
  box-shadow: 0 0 50px 30px #00ff44;
  margin: 20px;
  width: 75rem;
  height: fit-content;
}

.navbar {
  display: flex;
  color: gray;
  font-size: 1.2rem;
  justify-content: space-between;
  max-width: 31rem;
  margin: 10px 20px;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.hero {
  margin: 6rem 3rem 18rem;
  font-size: 1.3rem;
  color: #00ff44;
  max-width: 25rem;
}

.hero h1 {
  max-width: 25rem;
}

.gray {
  color: gray;
}

.green {
  color: #00ff44;
}
.text-box {
  width: 22rem;
  font-size: 1.1rem;
  min-height: 8rem;
}

#title {
  margin: -1rem 0 2rem 0;
}

.btn {
  font-family: customFont;
  font-size: 1.2rem;
  border-radius: 23px;
  height: 45px;
  border: none;
  padding: 10px;
  color: gray;
  cursor: pointer;
  background-color: #00ff44;
}

.btn:hover {
  transform: scale(1.1);
}

.transparent-btn {
  background-color: transparent;
  text-align: center;
}

.transparent-btn:hover {
  background-color: #00ff44;
}

.project-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.project-container h1 {
  text-align: center;
  color: #00ff44;
}
.card {
  text-align: center;
  color: gray;
  padding: 1rem;
  margin: 0.5rem;
  width: 21rem;
  border: 2px solid #00ff44;
  border-radius: 1rem;
}

.switch-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-title {
  color: #00ff44;
  font-size: 1.5rem;
}

.screenshots {
  height: 14rem;
  padding-bottom: 15px;
}

.desc {
  height: 14rem;
  padding-top: 15px;
}

.space {
  height: 45px;
}

.arrow-box {
  display: flex;
  justify-content: space-between;
  transform: translateY(100px);
}

.screenshots img {
  width: 19rem;
  z-index: 10;
}

.right-arrow {
  top: 50%;
  right: 20px;
  font-size: 1.2rem;
  z-index: 11;
  cursor: pointer;
  user-select: none;
  color: #00ff44;
  background-color: gray;
  border-radius: 50%;
}

.left-arrow {
  font-size: 1.2rem;
  z-index: 11;
  cursor: pointer;
  color: #00ff44;
  background-color: gray;
  border-radius: 50%;
}

.about-box,
.photo-box {
  justify-content: center;
  display: flex;
}

.about {
  margin-top: 3rem;
  padding: 0.5rem;
  max-width: 44rem;
  color: gray;
  text-align: center;
}

.about h1 {
  color: #00ff44;
}

.photo {
  justify-content: center;
  display: flex;
  height: 190px;
  width: 200px;
  background-color: #fff;
  background-image: url(./myPhoto.png);
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: 2px solid #00ff44;
}
.skills {
  display: flex;
  text-align: left;
}
.skills p {
  margin: 0.2rem;
}

.contact-form {
  display: flex;
  justify-content: center;
  height: 35rem;
  color: #00ff44;
  text-align: center;
}

.form {
  display: flex;
  width: 25rem;
  flex-direction: column;
}
.form input {
  border-radius: 0.5rem;
  height: 1.5rem;
  padding: 0.1rem;
  text-align: center;
  font-family: customFont;
  color: gray;
  outline: none;
  border: 2px solid #1c171f;
}

.form input:focus,
.form textarea:focus {
  border: 2px solid #00ff44;
  outline: none;
}

.form textarea {
  text-align: center;
  padding: 0.3rem;
  font-family: customFont;
  border-radius: 0.5rem;
  resize: none;
  height: 8rem;
  color: gray;
  margin-bottom: 1rem;
  border: 2px solid #1c171f;
}

.form label {
  margin: 0.4rem 0 0.1rem;
  color: gray;
}

@media screen and (max-width: 1000px) {
  .background {
    background-image: none;
  }
  .hero {
    text-align: center;
    margin: 8rem 0 8rem;
  }
  .hero-box {
    justify-content: center;
    display: flex;
  }
  .text-box {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .background {
    width: 100%;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
  }
  .menu {
    display: none;
  }
  .contact-form {
    justify-content: center;
  }
  .form {
    width: 100%;
  }

  .card {
    width: 80%;
  }
}
