.contact-form {
  display: flex;
  justify-content: center;
  height: 35rem;
  color: $neon-green;
  text-align: center;
}

.form {
  display: flex;
  width: 25rem;
  flex-direction: column;

  input, textarea {
      text-align: center;
      color: $font-gray;
      font-family: customFont;
      border-radius: .5rem;
      border: 2px solid $background-color;
      outline: none;

      &:focus {
          border: 2px solid $neon-green;
      }
  }

  input {
      height: 1.5rem;
      padding: .1rem;
  }


  textarea {
      padding: .3rem;
      resize: none;
      height: 8rem;
      // margin-bottom: 1rem;
  }


  label {
      // margin: 0 0 .1rem;
      color: $font-gray;
  }
  p {
    color: rgb(255, 0, 0);
    margin: 0 0 .5rem;
    font-size: 0.8rem;
    height: .8rem;
  }
}

.email-sent {
  color: $font-gray;
  width: 17rem;
  height: 8rem;
  border: 2px solid $neon-green;
  position: fixed;
  top: 2%;
  right: 2%;
  z-index: 54;
  display: flex;
  background-color: $background-color;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .8rem;
}

